blockquote {
    border-left: 1px double black;
    padding-left: 0.5em;
    margin-left: 0.5em;
}

.document {
    margin-left: 2em;
}

figure {
    text-align: center;
}

figure img {
    max-width: 100%;
    max-height: 100%;
}

figcaption {
    font-size: 90%;
}
